---
import MainLayout from '../layouts/MainLayout.astro';
import Actualite from '../components/Actualite.astro';
---

<MainLayout id="top"
    title="Corentin Roux - Ostéopathe à Saint-Just-Malmont"
    description="Cabinet d'ostéopathie à Saint-Just-Malmont. Consultations au cabinet et à domicile.">
    <div style="margin-top: 1rem;">
        <Actualite>
        </Actualite>
    </div>
</MainLayout>