---
import MainLayout from '../layouts/MainLayout.astro';
import Rendezvous from '../components/Rendezvous.astro';
import Buttonvcfcard from '../components/ButtonVCFcard.astro'
import signature from '../assets/signature.png';
---

<MainLayout id="top"
    title="Prendre rendez-vous avec votre ostéopathe à Saint-Just-Malmont"
    description="Réservez votre consultation d'ostéopathie au cabinet ou à domicile."
    >
    <div style="margin-top: 14rem;">
    <Rendezvous>
    </Rendezvous>
    </div>
</MainLayout>
