---
import MainLayout from '../layouts/MainLayout.astro';
import Questions from '../components/Questions.astro';
import signature from '../assets/signature.png';
---

<MainLayout id="top"
    title="Questions fréquentes sur l'ostéopathie | Saint-Just-Malmont"
    description="Retrouvez les réponses aux questions les plus fréquentes concernant les consultations d'ostéopathie."
    >
    <div style="margin-top: 1rem;">
        <Questions>
        </Questions>
    </div>
</MainLayout>
