---
import MainLayout from '../layouts/MainLayout.astro';
import Cabinet from '../components/Cabinet.astro';
import signature from '../assets/signature.png';
---

<MainLayout id="top"
    title="Cabinet d'ostéopathie à Saint-Just-Malmont"
    description="Découvrez le cabinet d'ostéopathie de Saint-Just-Malmont et son environnement chaleureux."
    >
    <div style="margin-top: 1rem;">
    <Cabinet>
    </Cabinet>
    </div>
</MainLayout>
