---
import MainLayout from '../layouts/MainLayout.astro';
import Presentation from '../components/Presentation.astro';
import signature from '../assets/signature.png';
---

<MainLayout id="top"
    title="Corentin Roux | Ostéopathe diplômé à Saint-Just-Malmont"
    description="Découvrez le parcours, la formation et l'approche de Corentin Roux, ostéopathe diplômé du CIDO."
    >
    <div style="margin-top: 1rem;">
    <Presentation>
    </Presentation>
    </div>
</MainLayout>
