<button id="download-vcard" class="contact-button">
    📇 Ajouter à mes contacts
</button>

<script>
    const button = document.getElementById('download-vcard');

    button?.addEventListener('click', async () => {
        const response = await fetch('/corentin-roux-osteopathe.png');
        const imageBlob = await response.blob();

        const base64 = await new Promise((resolve) => {
            const reader = new FileReader();
            reader.onloadend = () => resolve(reader.result.split(',')[1]);
            reader.readAsDataURL(imageBlob);
        });

        const vcardLines = [
            'BEGIN:VCARD',
            'VERSION:3.0',
            'N:Roux;Corentin;;;',
            'FN:Corentin Roux',
            'ORG:Cabinet d\'Ostéopathie Corentin Roux',
            'TITLE:Ostéopathe D.O.',
            'TEL;TYPE=CELL:+33600000000',
            'EMAIL:corentin.roux.osteo@gmail.com',
            'ADR;TYPE=WORK:;;11 Rue Bayon;Saint-Just-Malmont;;;France',
            'URL:https://rouxcorentin.fr/',
            `PHOTO;ENCODING=b;TYPE=PNG:${base64}`,
            'END:VCARD'
        ];

        const blob = new Blob(
            [vcardLines.join('\r\n')],
            { type: 'text/vcard;charset=utf-8' }
        );

        const url = URL.createObjectURL(blob);

        const a = document.createElement('a');
        a.href = url;
        a.download = 'corentin-roux-osteopathe.vcf';
        a.click();

        URL.revokeObjectURL(url);
    });
</script>
