---
interface Props {
    text: string;
    href?: string;
}

const {
    text,
    href = "#"
} = Astro.props;
---

<a href={href} class="button" aria-label={text}>
    {text}
</a>

<style>
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: 215px;

        padding: 1rem 2rem;

        background: #9b7b48;
        color: white;

        text-decoration: none;

        font-family:
                -apple-system,
                BlinkMacSystemFont,
                "SF Pro Display",
                "Segoe UI",
                sans-serif;

        font-size: 0.95rem;
        font-weight: 600;
        letter-spacing: -0.01em;

        border-radius: 18px 18px 18px 18px;

        transition:
                transform 0.25s ease,
                background-color 0.25s ease,
                box-shadow 0.25s ease;

        box-shadow:
                0 4px 12px rgba(155, 123, 72, 0.18);
    }

    @media (max-width: 768px) {

        .button {

            min-width: unset;

            padding: 0.7rem 0.8rem;

            font-size: 0.75rem;

            border-radius: 14px;

            white-space: nowrap;

        }

    }

    .button:hover {
        background: #625928;

        transform: translateY(-3px);

        box-shadow:
                0 10px 24px rgba(200, 90, 90, 0.25);
    }

    .button:active {
        transform: translateY(-1px);
    }
</style>
