---
import Button from "./Button.astro";
---

<div class="actions">
    <Button text="Prendre rendez-vous" href="/rendez-vous" />
    <Button text="Tarifs" href="/tarifs" />
    <Button text="À propos" href="/a-propos" />
    <Button text="Contact" href="/contact" />
</div>

<style>

    .actions {

        display: flex;

        justify-content: center;

        gap: 3rem;

        flex-wrap: wrap;

        margin-top: -1.5rem;
        margin-bottom: 10rem;

    }

</style>
