---
import TopBar from "../components/TopBar.astro";
import NavigationButtons from "../components/NavigationButtons.astro";
import background from "../assets/Background.png";

const { title = "Corentin Roux - Ostéopathe D.O." } = Astro.props;
---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
</head>

<body style={`background-image: url(${background.src});`}>
    <TopBar />
    <NavigationButtons />

    <main>
        <slot />
    </main>
</body>
</html>

<style is:global>
    body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", sans-serif;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}
</style>

<style>
    main {
        width: min(1100px, calc(100% - 2rem));
        margin: 3rem auto;
    }
</style>
