---
import TopBar from "../components/TopBar.astro";
import NavigationButtons from "../components/NavigationButtons.astro";

const { title = "Corentin Roux - Ostéopathe D.O." } = Astro.props;
---

<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "MedicalBusiness",
      "name": "Corentin Roux Ostéopathe",
      "url": "https://rouxcorentin.fr",
      "telephone": "+33XXXXXXXXX",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "11 rue Bayon",
        "postalCode": "43240",
        "addressLocality": "Saint-Just-Malmont",
        "addressCountry": "FR"
      }
    }
  </script>
</head>

<body>
<TopBar />
<NavigationButtons />

<main>
    <slot />
</main>
</body>
</html>

<style is:global>
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", sans-serif;

        background-image: url("/Background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        min-height: 100vh;
    }

    @media (max-width: 768px) {
        body {
            background-image: url("/Backgroundphone.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
    }
</style>

<style>
    main {
        width: min(1100px, calc(100% - 2rem));
        margin: 3rem auto;
    }
</style>